@import '../../variables';

.button-add-to-cart {
    background-color: $button-cl-black;
    @apply text-white w-full mt-4 py-2 px-4 rounded-lg;
    &:hover {
        background-color: $button-cl-white;
        color: $button-cl-black;
        @apply border border-gray-500;
    }
}